@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/lexend-deca-v24-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/lexend-deca-v24-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Big Shoulders";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/big-shoulders-v3-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/big-shoulders-v3-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Big Shoulders";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/big-shoulders-v3-latin-500.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/big-shoulders-v3-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root {
    --clr-orange-500: hsl(31, 77%, 52%);
    --clr-orange-700: hsl(31, 77%, 30%);
    --clr-cyan-500: hsl(184, 100%, 22%);
    --clr-cyan-700: hsl(179, 100%, 13%);

    --clr-black: hsl(179, 100%, 0%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-100: hsl(0, 0%, 95%);
    --clr-gray-300: hsla(0, 0%, 100%, 0.75);

    --font-main: "Lexend Deca", sans-serif;
    --font-accent: "Big Shoulders", sans-serif;
    --font-medium: 400;
    --font-bold: 700;

    --text-base: 0.9375rem;
    --text-heading-2: 2.5rem;

    --leading-none: 1;
    --leading-heading-2: 3.125rem;
    --leading-paragraph: 1.5625rem;

    --rounded-full: 9999px;
    --rounded-sm: 0.5rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: var(--leading-none);
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

main {
    padding-top: clamp(5.5rem, 10vw + 3rem, 10.6875rem);
    padding-bottom: clamp(5.5rem, 10vw + 3rem, 8.0625rem);
    background-color: var(--clr-gray-100);
    min-height: 100vh;
    font-family: var(--font-main);
    font-size: var(--text-base);
    font-weight: var(--font-medium);
}
.preview__wrapper {
    width: calc(100vw - 3rem);
    max-width: 34rem;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;

    --item-box-shadow-value: -16px 16px 48px -4px;
}
.preview__item {
    padding: 3rem;
    border-radius: var(--rounded-sm);
}
.preview__item:not(:last-child) {
    margin-bottom: 2rem;
}
.preview__item:nth-child(1) {
    background-color: var(--clr-orange-500);
    box-shadow: var(--item-box-shadow-value) var(--clr-orange-500);
}
.preview__item:nth-child(2) {
    background-color: var(--clr-cyan-500);
    box-shadow: var(--item-box-shadow-value) var(--clr-cyan-500);
}
.preview__item:nth-child(3) {
    background-color: var(--clr-cyan-700);
    box-shadow: var(--item-box-shadow-value) var(--clr-cyan-700);
}
.preview__icon {
    margin-bottom: 2.125rem;
}
.preview__content {
    position: relative;
    margin-bottom: 5rem;
}
.preview__content::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 1.375rem;
    left: -1.5rem;
    right: -1.5rem;
    bottom: -2.375rem;
    background-color: var(--clr-black);
    border-radius: var(--rounded-sm);
    opacity: 0.25;
}
.preview__title {
    z-index: 999;
    position: relative;
    font-family: var(--font-accent);
    font-size: var(--text-heading-2);
    line-height: var(--leading-heading-2);
    color: var(--clr-gray-100);
    font-weight: var(--font-medium);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.preview__description {
    z-index: 999;
    position: relative;
    line-height: var(--leading-paragraph);
    letter-spacing: var(--tracking-paragraph);
    color: var(--clr-gray-300);
    max-width: 35ch;
}
.preview__link {
    overflow: hidden;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-radius: var(--rounded-full);
    border: 2px solid var(--clr-gray-100);
    background-color: var(--clr-gray-100);
    padding: 0.875rem 1.875rem 0.9375rem 1.8125rem;
    transition-property: background-color, color, padding;
    transition-duration: 300ms;
    transition-timing-function: ease;
}
.preview__link--icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2rem;
    transition: right 300ms ease;
    fill: var(--clr-gray-100);
}
.preview__link:focus-visible {
    outline: 2px dashed var(--clr-gray-100);
    outline-offset: 4px;
}
.preview__item:nth-child(1) .preview__link {
    color: var(--clr-orange-700);
}
.preview__item:nth-child(2) .preview__link {
    color: var(--clr-cyan-500);
}
.preview__item:nth-child(3) .preview__link {
    color: var(--clr-cyan-700);
}

@media (hover: hover) {
    .preview__link:hover {
        background-color: transparent;
        color: var(--clr-gray-100) !important;
        padding-right: 3.25rem;
    }
    .preview__link:hover .preview__link--icon {
        right: 1.25rem;
    }
}
@media screen and (min-width: 54em) {
    .preview__wrapper {
        display: flex;
        max-width: 57.5rem;

        --item-box-shadow-value: -4px 24px 48px -16px;
    }
    .preview__item {
        margin: 0 !important;
    }
    .preview__description {
        margin-bottom: 5.1875rem;
    }
    .preview__item:first-child {
        border-radius: var(--rounded-sm) 0 0 var(--rounded-sm);
    }
    .preview__link {
        width: fit-content;
        margin: 0;
    }
    .preview__item:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .preview__item:last-child {
        border-radius: 0 var(--rounded-sm) var(--rounded-sm) 0;
        max-width: 19.125rem;
        padding-left: 2.9375rem;
    }
}
